<configuration
  xmlns:patch="http://www.sitecore.net/xmlconfig/"
  xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <layoutService>
      <configurations>
        
        <!--"default" configuration is used for Sitecore GraphQL Edge requests.-->
        <config name="default">
          <rendering>
            <renderingContentsResolver
              patch:instead="*[@type='Sitecore.JavaScriptServices.GraphQL.LayoutService.GraphQLAwareRenderingContentsResolver, Sitecore.JavaScriptServices.GraphQL']"
              type="Jobify.Foundation.WildCardItemResolver.Pipelines.LayoutServiceWildCardItemResolver, Jobify.Foundation.WildCardItemResolver"
              resolve="true">
              <IncludeServerUrlInMediaUrls>true</IncludeServerUrlInMediaUrls>
            </renderingContentsResolver>
          </rendering>
        </config>
        
        <!--"jss" configuration is used for Sitecore Layout Service REST requests.-->
        <!--TODO: create own configuration endpoint instead of 'jss'-->
        <config name="jss"> 
          <rendering>
            <renderingContentsResolver
              patch:instead="*[@type='Sitecore.JavaScriptServices.GraphQL.LayoutService.GraphQLAwareRenderingContentsResolver, Sitecore.JavaScriptServices.GraphQL']"
              type="Jobify.Foundation.WildCardItemResolver.Pipelines.LayoutServiceWildCardItemResolver, Jobify.Foundation.WildCardItemResolver"              
              resolve="true">
              <IncludeServerUrlInMediaUrls>true</IncludeServerUrlInMediaUrls>
            </renderingContentsResolver>
          </rendering>
        </config>
      </configurations>
    </layoutService>
  </sitecore>
</configuration>